* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid 2px black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: greenyellow;
}


.navbar__sectionone__title {
    color: #5022C3;


}

.navbar__sectiontwo {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__sectiontwo input {
    border: none;
    width: 100%;
    font-size: 15px;
    background-color: transparent;

}

.navbar__sectiontwo input:focus {
    outline: none;

}

.navbar__sectionthree {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mylearning {
    position: relative;
    cursor: pointer;
}

.mylearning__popup {
    background-color: white;
    width: 100px;
    border: solid black 2px;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 15px;
    display: none;

}

.mylearning:hover .mylearning__popup {
    display: block;
}

.navbar__menubar {
    display: none;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid black;
    justify-content: space-around;

}

.categories p {
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    border: solid black 1px;
}

.categories p:hover {
    background-color: white;
    border: solid black 1px;
    color: black;
    cursor: pointer;
}

.sale-image {
    position: relative;
}

.sale-image__offerbox {
    background-color: white;
    width: 250px;
    border: solid black 2px;
    padding: 15px;
    position: absolute;
    top: 100px;
    left: 200px;
    transition: 2s;
    animation-name: zoom;
    animation-duration: 2s;

}


@keyframes zoom {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.sale-image img {
    width: 100%;
}


.recommended {
    padding: 10px;

}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.coursecard {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;

}


.coursecard img {
    height: 50%;
    width: 100%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.topics__container p {
    border: solid black 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;


}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 10px;
}

.footer__two {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 30px;
    background-color: black;
    color: antiquewhite;

}


@media screen and(max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:500px) {
    .coursecard {
        flex-basis: 40%;
    }

    .categories {
        display: none;
    }

    .navbar__sectiontwo,
    .navbar__sectionthree {
        display: none;
    }

    .navbar__menubar {
        display: block;
    }

    .sale-image__offerbox {

        width: 100px;
        border: solid black 2px;
        padding: 5px;
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 10px;
    }
}